In [1]:
import pandas as pd
import utils

In [2]:
pair = "EUR_USD"
granularity = "H1"

In [5]:
df = pd.read_pickle(utils.get_his_data_filename(pair, granularity))

In [6]:
non_cols = ['time', 'volume']

In [7]:
mod_cols = [x for x in df.columns if x not in non_cols]

In [8]:
df[mod_cols] = df[mod_cols].apply(pd.to_numeric)

In [9]:
df.describe()

,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
count,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000
mean,3634.030008,1.083088,1.083718,1.082462,1.083086,1.082998,1.083637,1.082373,1.083004,1.083177,1.083805,1.082544,1.083168
std,2524.096724,0.017123,0.017123,0.017105,0.017122,0.017122,0.017123,0.017103,0.017121,0.017124,0.017124,0.017106,0.017123
min,127.000000,1.045260,1.046640,1.044850,1.045270,1.045180,1.046550,1.044770,1.045200,1.045330,1.046720,1.044930,1.045340
25%,1962.000000,1.070780,1.071250,1.070115,1.070780,1.070705,1.071175,1.070040,1.070705,1.070855,1.071330,1.070190,1.070850
50%,3109.000000,1.086320,1.086940,1.085520,1.086300,1.086240,1.086870,1.085440,1.086220,1.086400,1.087020,1.085590,1.086380
75%,4557.000000,1.094720,1.095315,1.094220,1.094700,1.094620,1.095235,1.094120,1.094620,1.094800,1.095425,1.094290,1.094780
max,21907.000000,1.125740,1.127570,1.125050,1.125760,1.125650,1.127490,1.124960,1.125670,1.125820,1.127650,1.125130,1.125840

In [10]:
df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-06-26T08:00:00.000000000Z,5400,1.09018,1.09035,1.08874,1.08919,1.09010,1.09027,1.08867,1.08911,1.09027,1.09043,1.08882,1.08927
1,2023-06-26T09:00:00.000000000Z,3481,1.08918,1.09012,1.08908,1.08967,1.08911,1.09005,1.08902,1.08961,1.08925,1.09019,1.08915,1.08973
2,2023-06-26T10:00:00.000000000Z,3383,1.08966,1.09074,1.08941,1.09044,1.08959,1.09068,1.08933,1.09037,1.08974,1.09080,1.08948,1.09051
3,2023-06-26T11:00:00.000000000Z,3112,1.09044,1.09181,1.09032,1.09178,1.09037,1.09174,1.09025,1.09172,1.09050,1.09188,1.09038,1.09185
4,2023-06-26T12:00:00.000000000Z,3388,1.09178,1.09202,1.09142,1.09174,1.09171,1.09196,1.09135,1.09169,1.09186,1.09209,1.09149,1.09180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,2024-02-15T19:00:00.000000000Z,2935,1.07670,1.07726,1.07666,1.07689,1.07663,1.07719,1.07658,1.07682,1.07677,1.07733,1.07673,1.07696
3995,2024-02-15T20:00:00.000000000Z,2589,1.07688,1.07719,1.07680,1.07716,1.07681,1.07712,1.07673,1.07709,1.07695,1.07726,1.07688,1.07724
3996,2024-02-15T21:00:00.000000000Z,1226,1.07716,1.07743,1.07703,1.07726,1.07709,1.07736,1.07695,1.07716,1.07723,1.07750,1.07711,1.07735
3997,2024-02-15T22:00:00.000000000Z,456,1.07706,1.07734,1.07699,1.07732,1.07689,1.07722,1.07676,1.07721,1.07722,1.07747,1.07720,1.07744
3998,2024-02-15T23:00:00.000000000Z,906,1.07724,1.07770,1.07722,1.07727,1.07717,1.07762,1.07712,1.07719,1.07731,1.07777,1.07730,1.07735